<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="puerto" value="4" />
    <add key="rif" value="J-30314338-5" />
    <add key="nombre" value="DISTRIBUIDORA DIPACAR MARGARITA C.A." />
    <add key="direccion" value="AV JUAN BAUTISTA ARISMENDI EDIF SCAT PISO 01 OF S/N SECTOR MACHO MUERTO" />
    <add key="municipio" value="MUNICIPIO MARIÑO ZONA POSTAL 6301" />
    <add key="telefono" value="(0295) 2742760-2743736-2743034" />
    <add key="conexion" value="Data Source=190.94.251.11;Initial Catalog=orion_dipacar;User ID=sa;Password=Seguro1;" />
  </appSettings>
  
</configuration>