#header
{
	/*margin: 0 auto;*/
	padding: 10px 0 0 0;
	background: #2a2a2a;
	/*width: 1430px;*/
	width: 100%;
	
}

#header #header-outer
{
	margin: 0 auto;
	padding: 0;
}

/* -----------------------------------------------------------
	header -> logo
----------------------------------------------------------- */ 

#header #logo
{
	float: left;	
}

#header #logo h1
{
	margin: 6px 0 10px 0;
	padding: 0;
	color: #ffffff;
	font-size: 22px;
}

#header #logo a
{
	color: #ffffff;
	text-decoration: none;	
}

#header #logo a:hover
{
	color: #ffffff;
}

/* -----------------------------------------------------------
	header -> user
----------------------------------------------------------- */ 

#header ul#user
{
	margin: 0 0 30px 0;
	padding: 0;
	float: right;
}

#header ul#user li
{
	margin: 0;
	padding: 5px 12px 5px 12px;
	list-style: none;
	float: left;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #a5a5a5;
}

#header ul#user li.first
{
	border-left: none;	
}

#header ul#user li.last
{
	border-right: none;	
}

#header ul#user li a
{
	color: #d4d5ff;
	font-weight: bold;
	text-decoration: none;
}

#header ul#user li a:hover
{
	color: #376ea6;
	text-decoration: underline;
}

#header ul#user li.highlight a
{
	color: #ffffff;
}

#header ul#user li.highlight a:hover
{
	color: #376ea6;
}



/* -----------------------------------------------------------
	main stylesheet
----------------------------------------------------------- */
html
{
	height: 100%;  
}

body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width:100%;
	background: #d1d1d1 url("../../resources/images/background.png") repeat;
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
}

/* -----------------------------------------------------------
	images
----------------------------------------------------------- */ 

img
{
	border: none;	
}

/* -----------------------------------------------------------
	anchors
----------------------------------------------------------- */ 
.ruBrowse
	{
	background-position: 0 -46px !important;
	width: 122px !important;
}
a
{
	color: #0066CC;	
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	color: #000000;	
	text-decoration: underline;
}

/* -----------------------------------------------------------
	headings
----------------------------------------------------------- */ 

h1, h2, h3, h4, h5, h6
{
	color: #292929;
	font-weight: bold;
}

h1
{
	font-size: 22px;
}

h2
{
	font-size: 20px;
}

h3
{
	font-size: 18px;  
}

h4
{
	font-size: 16px;
}

h5
{
	font-size: 14px; 
}

h6
{
	font-size: 11px; 
}


#content #right
{
	margin: 0px 0px 0px 0px;
	/*width: 950px;	*/
	width: 85%;
	float: left;	
	clear: none;
}


#content #left
{
	left: auto;
	/*width: 251px;	*/
	width: 15%;
	position: relative;
	float: left;	
}



#header #header-inner
{
	margin: 0;
	padding: 0;	
	clear: both;
	position: relative;	
	border-bottom: 6px solid #ffffff;
}

#footer
{
	/*margin: 0 auto;*/
	width: 100%;
	padding: 10px 0 5px 0;
	clear: both;
	overflow: hidden;
	background: #2a2a2a;
	text-align: right;
	/*width: 1430px;*/
	
		
}

#footer p
{
	margin: 0 60px 0 60px;
	padding: 10px 0 10px 0;
	color: #ffffff;
}
.cssFieldSetContainer {
	font-family: Segoe UI,Arial,Sans-Serif !important;
	font-size: small !important;
	/*width: 950px !important;*/
	width: 100% !important;
	background-color : White;
	border:none;
	padding-left:0px;
}
#content div.box div.title
{
	/*margin: 0 0 -8px 0;*/
	padding: 0;
	clear: both;
	overflow: hidden;
	background: #25A0DA url("../../resources/images/title.png") repeat-x;
}
#content div.box div.title h1,
#content div.box div.title h2,
#content div.box div.title h3,
#content div.box div.title h4,
#content div.box div.title h5,
#content div.box div.title h6
{
	margin: 0;
	padding: 11px 0 11px 10px;
	float: left;
	border: none;
	color: #ffffff;
}
#content div.box
{
	margin: 0px 0 0 0;
	padding: 0 0 0 0;
	clear: both;
	overflow: hidden;
	background: #ffffff;
	padding-left:-5px;
}

/*modal Popup*/
.modalPopup  {
	background-color:White;
	border:3px solid Gray;
	padding:3px;
	text-align:left;
	z-index:1001 !important;    
}

.modalBackground 
{
	background-color: Gray;
	z-index:1000 !important;
	filter:alpha(opacity=70);    
	opacity: 0.7;
	
}
.modalPopupHijo  {
	background-color:White;
	border:3px solid Gray;
	padding:3px;
	text-align:left;
	z-index:951 !important;    
}

.modalBackgroundHijo
{
	background-color: Gray;
	z-index:950 !important;
	filter:alpha(opacity=70);    
	opacity: 0.7;
	
}

.modalPopupHijo fieldset 
{
	width:288px;
	padding:2px;
}

.modalPopupHijo fieldset input
{
}

.modalPopup fieldset 
{
	width:288px;
	padding:2px;
}

.modalPopup fieldset input
{
}

.modalPopupTexto
{
	background-color:White;
	border:3px solid Gray;
	padding:3px;
	text-align:left;
	z-index:1101 !important; 
}

.modalBackgroundTexto
{
	background-color: Gray;
	z-index:1100 !important;
	filter:alpha(opacity=70);    
	opacity: 0.7;  
	
}

.modalBackground2
{
	background-color:Gray;
	z-index:1002 !important;
	filter:alpha(opacity=70);
	opacity:0.7;
}
#content 
{
	/*margin: 10px auto 10px auto;*/
	margin: 0 0 0 0;
	/*width: 1430px;*/
	width: 100%;
	/*background: url("../../resources/images/content_fixed.png") repeat-y top left;*/
	background: url("../../resources/images/content_fixed.png") repeat top left;
	clear: both;
	overflow: hidden;	
}

.toolBarsMenu
{
	position:relative; 
	top:-48px; 
	left: 170px;	
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-1 {
    /* Size & position */
    width: 350px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

